/* =============================================================================
   Colors
   ========================================================================== 
    Content bkgrnd  #f4f0e9
    Gold            #fdc513
    Green Logo      #133c2b
    Brown           #614716
    Tan             #a5916c
    Green Ribbon    #498029
	Footer Brown	#2B2203
*/
/* =============================================================================
   Base
   ========================================================================== */
html{
    background: url(../img/canvas-background.jpg) #A89E7B;
}
body {
    background: url("../img/sportsmen.png") no-repeat scroll center 66px transparent;
	font-family: Arial, sans-serif;
	font-size: 14px;
    }
.wrap{
    max-width: 960px;
    margin: 0px auto;
}
.container, .navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width:960px;
}
ul{
	list-style-type: none;
}
ul.bullets{
	list-style-type: disc;
}
li{
	margin-bottom:5px;
}
h1, h2, h3{
	font-family: Rancho, sans-serif;
	font-weight: normal;
}
h1{
	color: #133c2b;
}
h2{
	font-size: 26px;
    letter-spacing: 0.5px;
	color:#133c2b;
}
h3{
	font-size: 24px;
    letter-spacing: 0.5px;
}
a{
	color:#498029
}
a:hover{
	color:#133c2b;
	text-decoration: none;
}
img {
	height: auto;
}
.button, 
#post-nav a, 
#comments-nav a,
.payment-page-btn,
input[type="submit"],
.term-young-guests-menu .menu-category-description a{
	display: inline-block;
	background: #498029;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));		
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	border: none;
	padding:5px 4%;
	cursor: pointer;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	width: auto;
	overflow: visible;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-appearance: none;
}
.button:hover,
#post-nav a:hover,
#comments-nav a:hover,
.btn_event_form_submit.payment-page-btn:hover,
.payment-page-btn:hover,
input[type="submit"]:hover,
.term-young-guests-menu .menu-category-description a:hover{ 
	background: #133c2b; 
	color: #fff !important; 
}
.well {
    background:url(../img/canvas-background.jpg) #bbb18e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 1px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border: 10px solid #F4F0E9;
}

/* =============================================================================
   Header
   ========================================================================== */
#top-hdr .wrap{
    width: 960px;
}
#top-hdr{
    width: 100%;
    background: url(../img/hdr-top.jpg) repeat-x #5E4413;
    border-bottom: 1px solid #f4f0e9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    height: 33px;
    padding: 10px 0;
}
#top-hdr section ul{
	margin:0 30px
}


#top-hdr .nav li{
    width: auto;
    float:left;
}
#top-hdr .nav li a{
    color:#f4f0e9;
}
#top-hdr .nav.social{
    float: left;
    width: auto;
    list-style: none;
}
#top-hdr .social li{
    margin-right: 5px;
     height: 32px;
     width: 32px;
}
#top-hdr .social li a{
     height: 32px;
     width: 32px;
}
#top-hdr .social li a:hover{
     background:rgba(0, 0, 0, .1)
}
    #top-hdr .social li.fb{
    background: url(../img/facebook32.png) no-repeat;
   }
   #top-hdr .social li.twt{
    background: url(../img/twitter32.png) no-repeat;
   }
   #top-hdr .social li.yt{
    background: url(../img/youtube32.png) no-repeat;
   }
   #top-hdr .social li.email{
    background: url(../img/email32.png) no-repeat;
   }


/* Fixed Topbar Navigation */
body.top-navbar {  }
body.admin-bar .navbar-fixed-top { top: 28px; }

#banner{
    clear: both;
    margin: 0 auto;
    overflow: auto;
    
    color:#133c2b;
    padding: 30px 3% 0;
    width: 94%;
}
#banner ul{
    margin-left: 0;
}
	#banner li{
		list-style: none;
		font-size: 14px;
		margin-bottom: 5px;
		line-height: 1;
	}
		#banner li a{
			color:#133c2b;
			text-decoration: underline;
		}
#banner section.logo{
    text-align: center
}
#banner section.links{
    text-align: right;
    float: right;
}
#banner h3{
    font-weight: normal;
    font-size: 27px;
	margin-bottom: 5px;
	font-family: Rancho, sans-serif;
}
#banner ul li span{
	width: 86px;
	margin-right: 5px;
	display: inline-block;
}
.hours .hours-link{
	display: none;
}
.navbar-inner {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 10px 0 0;
	position: relative;
    text-align: center;
	line-height: 17px
}
#nav-main{
	display: inline-block;
}
.green-ribbon{
    background: url("../img/green-ribbon.png") no-repeat scroll center 0 transparent;
    margin: 0 0 0 -70px;
    padding: 50px 0 10px;
	width: 1102px;
}
.navbar .nav > li{
	margin-bottom: 0;
}
.navbar .nav > li > a {
    color: #F4F0E9;
    font-size: 16px;
    letter-spacing: 0.75px;
    padding-bottom: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.tax-menu-category .navbar .nav li.menu-menus > a,
.tax-menu-category .navbar .nav li.menu-menus > a:hover{
    background-color: transparent;
    color: #fdc513;
    border-bottom: 3px solid #fdc513;
}
.dropdown-menu{
	text-align: left;
}
.dropdown-menu li >  a:hover,
.navbar .dropdown-menu .active >  a,
.navbar .dropdown-menu .active >  a:hover{
	color:#498029;
	background: none;
	border-bottom: none;
}

/*  Search  */

/*#searchform{
	background: none repeat scroll 0 0 #F4F0E9;
    border-radius: 18px 18px 18px 18px;
    float: right;
    padding: 3px;
    width: auto;
}
input#s{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: 0 0 0 0 #FFFFFF;
    margin: 0;
}*/

#searchform{
	float: right;
	margin-right: 30px;
    width: auto;
}
#searchform #s{
     cursor:pointer;
font:13px/24px sans-serif;
     height:35px;
     width:0;
     border:none;
     padding:0 3px 0 36px;
     margin:0;
     color:#a5916c;
	background-color:transparent;
     background-image:url(../img/searchbutton.png);
     background-position:3px 2px;
     background-repeat:no-repeat;
     outline:none;
     -webkit-border-radius:3px;
     border-radius:3px;
     -moz-box-shadow:none;
     -webkit-box-shadow:none;
     box-shadow:none;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     -ms-box-sizing:border-box;
     box-sizing:border-box;
     -webkit-transition-duration:400ms;
     -webkit-transition-property:width,background;
     -webkit-transition-timing-function:ease;
     -moz-transition-duration:400ms;
     -moz-transition-property:width,background;
     -moz-transition-timing-function:ease;
     -o-transition-duration:400ms;
     -o-transition-property:width,background;
     -o-transition-timing-function:ease;
     }
.ie7 #searchform #s{
margin-top:1px;
     width:120px;
     }
#searchform #s:focus{
color:#555;
     width:200px;
     background-color:#F4F0E9;
     }
.ie8 #searchform #s{
background-color:#464646;
     }
.ie8 #searchform #s:focus{
background-color:#fff;
     }
#searchform #s::-webkit-input-placeholder{
color:#a5916c;
     }
	 
#searchform #s:-moz-placeholder{
color:transparent;
     }
	 #searchform #s:focus:-moz-placeholder{
color:#555;
     }
#searchsubmit{
display:none;
     }
/* =============================================================================
   Content
   ========================================================================== */

#content {
    margin-left: 0;
    background:#f4f0e9;
    box-shadow: 0 9px 6px 4px rgba(96, 70, 21, 0.25);
    padding: 30px 2% 139px;
	width: 96%
    }



/* =============================================================================
   Primary Content
   ========================================================================== */

#main {
    margin-left: 0;
    }
.page-header {
    margin-top: 0;
}


/* =============================================================================
   Menus
   ========================================================================== */
.menu-main{
     clear: both;
     margin-top: 20px;
}
.menu-main li{
	display: block;
    width: 48%;
    float:left;
    margin: 15px 2% 15px 0;
}
/*.menu-main li section{
    width: 100%;
}
*/
.menu-main .menu a.menu-title{
    width: auto;
    float:left;
	display: block;
}
.menu-main .menu .menu-thumb{
    width: auto;
    float:left;
	display: block;
	background:url(../img/canvas-background.jpg) #bbb18e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 1px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0;
	margin-right: 3%;
    border: 10px solid #F4F0E9;
}
.menu-main .hentry{
    width: 45%;
    float:left;
    margin: 15px 2%;
}
/*.menu-main li section{
    width: 100%;
}
*/
.menu-main .hentry div{
    width: auto;
    float:left;
}
.menu-main .hentry header{
    width: 35%;
    float:left;
	margin-right: 2%;
}
.tax-menu-category header{
     margin:0 auto;
     width: 70%;
     overflow: auto;
}
     .tax-menu-category header h1{
          margin-bottom: 15px;
     }
     .tax-menu-category header img{
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          float: left;
          width:30%;
     }
     .tax-menu-category header h1,
     .tax-menu-category .menu-category-description{
          float: left;
          width: 65%;
          margin-left: 5%
     }
.tax-menu-category h2{
     border-bottom: 1px dashed #A5916C;
     margin-bottom: 15px;
}
.tax-menu-category .sub-cat{
     clear: both;
     margin-bottom: 30px;
}
.menu-items{
     margin: 20px auto;
    width: 74%;
}
.menu-cat .note{
	font-style: italic;
	color: #a5916c;
}
.sub-cat .note,
.sub-cat .desc{
    margin: 0 auto;
    width: 74%;
}
/* Single line menus */

.term-18 .menu-cat .menu-items li{
     width: 47%;
     margin: 0 3% 0 0;
     float: left;
}
.term-18 .menu-cat .Cocktails .menu-items li,
.term-18 .menu-cat .Wine .menu-items li{
     width: 100%;
     margin: 0;
     float: none;
}
.term-young-guests-menu .well{
	position: relative;
}
.term-young-guests-menu .menu-category-description a{
	position: absolute;
	bottom: 18px;
	right: 18px;
}
/* =============================================================================
   Slider
   ========================================================================== */
.slider{
	width: 100%
}
#ivycat-slider{
	position: relative;
	width: 100%;
	height: auto !important;
}
#ivycat-slider .screen{
	background: none repeat scroll 0 0 #F4F0E9;
    box-shadow: 0 4px 7px 4px rgba(96, 70, 21, 0.25);
    margin: 0 auto;
    padding: 1.5%;
    width: 81.4%;
	position: relative;
	display: block !important;
}
#ivycat-slider img{
	float: none;
	margin: 0;
    
}
#ivycat-slider h3{
	display: none;
}
#ivycat-slider .button{
    position:absolute;
	background: none transparent;
	border: none;
	box-shadow:0 0;
	padding: 0;
	top:50%;
}
#ivycat-slider img.btn-right{
    right: -72px;
}
#ivycat-slider .slider-content{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    bottom: 4%;
    color: #F4F0E9;
    font-size: 16px;
    padding: 2%;
    position: absolute;
    width: 92.4%;
}

/* =============================================================================
   HOME
   ========================================================================== */
.home .page-header{
     text-align: center;
     margin-top: 15px;
     padding-bottom: 0;
}
#home-wrap{
	margin: 0 7.7%;
	
}
#home-wrap article{
	background: none repeat scroll 0 0 #A5916C;
    float: left;
    padding: 2% 2% 4%;
    width: 44.2%;
	color:#f4f0e9;
}
#home-wrap article:first-child{
    margin-right: 3%;
}
#home-wrap img{
	border: 1px solid #f4f0e9
}
#home-wrap h3{
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.signup.green-ribbon{
    background-position: center -30px;
    padding:3% 0;
	height: 59px;
	margin-top: -120px;
}
.signup h3{
	font: 24px/42px Rancho, sans-serif;
	color:#f4f0e9;
	font-weight: normal;
	float: left;
	letter-spacing: 0;
	width: auto;
}
#mc-embedded-subscribe-form{
	background: none repeat scroll 0 0 #F4F0E9;
    border-radius: 18px 18px 18px 18px;
    float: left;
    padding: 1%;
    width: 47%;
     margin: 0 0 0 10px;
}

.signup ul{
	margin: 0;
	text-align: center
}
.signup > ul > li{
	display: inline-block;
	width: 528px;
     margin-bottom: 0
}
#mc-embedded-subscribe-form input[type="email"]{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: 0 0 0 0 #FFFFFF;
    margin: 0;
    width: 83.32%
}
#mc-embedded-subscribe-form input[type="submit"]{
	background: url(../img/srch-arrow.png) no-repeat center center transparent;
	border: none;
	float: right;
	height: 29px;
	width: 29px;
	box-shadow: 0 0;
}
.signup a{
	color:#f4f0e9;
}
/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }
#sidebar .widget{
	margin-bottom: 20px;
	}
	
.vcard, .vcard ul{
	margin-left: 0;
}
#sidebar .mapp-container{
	border: 1px solid #133C2B;
	margin: 0 !important;
}
#sidebar #mc-embedded-subscribe-form{
	border: 1px solid #498029;
	background: #fff;
    margin: 11px 0;
    width: 97%;
}
#mc-embedded-subscribe-form input[type="email"]{
	
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { width: 100% !important; }
.fb-like-box span{
	background:#fff;
}
/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */

#content-info {
  margin-top: 45px;
  padding: 35px 0 45px;
  width: 100%;
  background: url(../img/footer-bkgrd.jpg) #2B2203;
  color: #ffffff;
  text-align: center;
}
#content-info .wrap{
	padding: 0 2%;
	display: inline-block;
     max-width: 920px;
}
.ftr-logo{
	margin-top: -27px;
}
#content-info .wrap > section{
	float: left;
    text-align: left;
    width: 100%;
	/*position: relative;
	z-index: 200;*/
}
#content-info .footer-top section.widget-3{
     float: right;
     margin: 0
}
#content-info .widget{
	margin: 0 2% 0 0;
    width: 32%;
}
#content-info .widget-left,
#content-info .footer-bottom .widget-first{
	margin-left: 2.5%;
}
#content-info h3{
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
#content-info ul{
  margin-left: 0
}
.footer-top{
	padding-bottom: 225px;
	background: url(../img/footer-logo.jpg) no-repeat center bottom;
}

.footer-top a{
  color: #fdc513;
  font-style: italic;
}
.really_simple_twitter_widget li{
	display: block;
	margin-bottom: 20px;
}
.footer-bottom{
	margin-top: -136px;
}
.footer-bottom a{
	color: #ffffff;
	text-decoration: underline;
}
.footer-bottom a:hover{
	color: #EAD4AB;
	text-decoration: none;
}
#content-info .mapp-container{
	border: 4px solid #fdc513;
}
#content-info p small {
	font-size: 12px;
	color: #ffffff;
	}
#content-info p.copy {
}
#content-info .widget_roots_vcard{
	width: auto;
}
#content-info .footer-bottom .widget-last{
    text-align: right;
	width: auto;
	float: right;
}
#content-info .footer-bottom .menu li{
    line-height: 1.5
}
#content-info .footer-bottom .menu .feedback{
	margin-top:15px;
}
#content-info .footer-bottom .menu .feedback a{
	text-decoration: none;
	display: block;
	white-space: nowrap;
}
#mappress_widget-3 h3{
	display: none;
	
}
#content-info .widget_roots_vcard h3{
	font-size: 14px;
	font-family: Arial, san-serif;
	text-transform: none;
	margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
select, textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #888888;
    font-size: 14px;
	background-color: #FFFFFF;
    border: 1px solid #A5916C;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
	padding: 3px;
}
.gform_wrapper input[type="text"],
.gform_wrapper input[type="url"],
.gform_wrapper input[type="email"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper select{
	font-size: 14px;
	padding:5px  1%;
	color: #a5916c;
	letter-spacing: 0.25px;
}
.gform_wrapper select{
	padding: 5px;
	color: #a5916c;
	letter-spacing: 0.25px;
}
.gform_wrapper .ginput_complex .ginput_right input{
    width: 97% !important;
}
.gform_wrapper .ginput_complex .ginput_right select {
	width: 99% !important;
	height: 30px
}
.gform_wrapper .ginput_complex input,
.gform_wrapper .ginput_complex select{
	margin-bottom: 0
}
.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right,
.gform_wrapper .ginput_complex .ginput_full {
    margin-bottom: 5px;
}
.gform_wrapper .gfield_radio li{
	float: left;
	width: auto;
	margin-right: 15px;
}
.gform_wrapper .gfield_checkbox li label,
.gform_wrapper .gfield_radio li label{
	margin-left: 19px;
}
.gform_wrapper .top_label input.medium,
.gform_wrapper .top_label select.medium{
	width: 48%
}

.gform_wrapper .ginput_complex .ginput_full input {
    width: 97.5% !important;
}
/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }

figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==|== non-semantic helper classes ======================================== */

.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; text-indent: -9999px }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}
