/**
* Event Espresso ThemeRoller base stylesheet.
* This stylesheet is used in conjunction with selected themeroller stylesheets.
* These styles are to provide essential padding and margins all visual styling is 
* added by themeroller styles.
*/

/**
* Stylesheet sections
*
* 1. General styles events site wide
* 2. Pages - event_list_display, event_registration_display etc
* 3. Forms
* 4. Tables
* 5. Classes  - general - messages etc
*/

/* >General events styles site wide
------------------------------------------------------------------------------*/
/** font-families **/

/* headings/titles */

/* managed by themeroller */

/* body text */

/* Managed by themeroller */
/*___ General site wide styles for event-data / espresso_events ___*/

/* Add some shadow where ui has no hooks */

h2.ui-widget-header, h3.ui-widget-header{
	font-size:1.2em;
}
h2.ui-widget-header a, h3.ui-widget-header a{
	
}
div.event-data-display{
	font-size:14px;
}

.event-display-boxes .submit {
	-moz-box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	box-shadow: 0 0 4px #ccc;
}
.event-display-tables {
	-moz-box-shadow: 0 0 2px #d2d2d2;
	-webkit-box-shadow: 0 0 2px #d2d2d2;
	box-shadow: 0 0 2px #d2d2d2;
}
#ee-event-list-thumb img {
	-moz-box-shadow: 0 0 2px #555;
	-webkit-box-shadow: 0 0 2px #555;
	box-shadow: 0 0 2px #555;
}
.event-display-boxes p {
	margin: .5em 0;
}
.event-display-boxes .ui-widget-header {
	padding-left:1em; margin:0;
}
.event-list-display-dv .big-event-title-hdr {
	font-size:2em; line-height:1.1em; margin:1em 0 0;
}
.event-data-display p.section-title, .espresso_event p.section-title {
	margin-bottom: 8px;
}
.espresso_event, .event-display-boxes { /* event list boxes */
	margin-bottom: 1em;
}
.event-data-display,
.event_data .event-data-display-dv {
	padding:1em; line-height:1.5em; margin:0;
}
.event_title, h2.section-heading, .display-box-heading {
	padding-left: 10px;
}
.event_title, .section-heading, .section-title {
	margin-bottom: 1em;
}
.event_title a {
	text-decoration: none;
}
.event_description {
	padding: 0 .4em 20px;
}
.section-title, .span_event_time_label, .event_price_label {
	font-weight: bold;
}
#additional_header a, #event_espresso_refresh_total, .inline-link { /* floating links */
	font-weight: bold;
	padding-bottom: 3px;
	text-decoration: none;
}
.event-display-boxes .address-block {
	display: inline-block;
	margin-top: 0;
	padding: 10px 0;
}
.event-display-boxes .register-link-footer {
	margin: .8em 0 .1em;
}
.event-display-boxes .register-link-footer a {
	padding: 2px 4px;
	text-decoration: none;
}
.ee-social-media-buttons {
	clear: both;
	padding: 10px 0;
}
/* wrestle google button into submission */
div.google-button {
	display: inline;
}
/* >Pages
------------------------------------------------------------------------------*/
/*___ page event list ___*/

.event-data-display .event_staff {
	display: block;
	margin: 10px;
	padding: 5px 10px;
	width: auto;
}
div.event-entry-meta {
	overflow: hidden;
}
span.google-map-link {
	clear: left;
	display: inline-block;
	width: 100%;
}
#ee-event-list-thumb {
	display: block;
	padding: 5px 0;
	overflow: hidden;
}
#ee-event-list-thumb span {
	padding: 2px;
}
.event-address-block p {
	margin-bottom: .5em;
}
/*___ page register ___*/

.event_description .event_staff {
	border: 1px solid #bfbfbf;
	float: left;
	margin: 20px 1%;
	padding: 0 1% 10px;
	width: 45%;
}
.event_staff p.event_person:first-child {
	margin-top: 5px;
	text-align: center
}
.event_description .event_staff img {
	display: block;
	margin: 8px auto;
	width: 60%;
}
#registration_form .event-map-parent {
	margin: 20px 0;
}
.event_description .ee-gmap-iframewrap {
	padding-bottom: 20px;
}
#event-reg-form-groups .event_questions {
	border: 1px solid #d2d2d2;
	margin: 10px 0;
	padding: .5em;
}
#event-reg-form-groups .event_questions .reg-quest-title {
	font-weight: bold;
	margin-top: 0;
}
.event_questions .quest-group-descript {
	margin: 0 0 20px;
	padding: .5em;
}
.espresso_add_attendee a.add {
	margin-left: 85px;
}
a.post-edit-link {
	padding-left: 5px;
}
/*___ Attendee list ___*/

ol.attendee_list {
	margin-left: 30px;
}
/*___ Cart & Multi Registration page styles ___*/

.multi_reg_cart_block {
	background: #fafafa;
}
.mer-event-submit {
	padding: 10px;
}
.event_total_price {
	color: #333;
	float: right;
	font-weight: bold;
	text-align: right;
	padding: 5px;
	width: 130px;
}
#event_total_price {
	width: auto;
}
#event_espresso_coupon_wrapper label {
	display: block;
}
#event_espresso_total_wrapper {
	overflow: hidden;
}
#event_espresso_registration_form {
	margin: 10px 3px;
}
span.remove-cart-item {
	float: right;
	margin-right: 3px;
}
#event_espresso_refresh_total {
	line-height: 2.2;
}
/*___ Payment options page ___*/

#sandbox-panel {
	border: 1px solid #bebebe;
	background: #eee;
	padding: 10px;
}
ul#espresso_payment_buttons {
	margin: 0;
	text-align: center;
}
ul#espresso_payment_buttons li {
	display: inline;
	list-style: none;
	padding: 0 8px;
	vertical-align: top;
}
ul#espresso_payment_buttons li form {
}
/*___ payment overview - thank you page ___*/

.event-list-payment-overview {
	padding: 20px 0 0;
}
.event-list-payment-overview dl, .reg-gen-details dl {
	margin-bottom: 0;
	padding:10px;
}
.event-list-payment-overview dl dt {
	margin-bottom: 20px;
}
.event-list-payment-overview dl dd {
	margin-bottom: 10px
}
.espresso_payment_overview h4.section-title {
	margin-top: 20px;
	padding-top: 10px;
}
/*___ page elements / objects ___*/
.TB-ee-frame .tb-ee-event-title {
	margin: 10px 0;
	;
}
/** Gmaps **/

.ee-gmaps {
	border: 1px solid #bfbfbf;
}
/* >Forms
------------------------------------------------------------------------------*/
/* override WP styles */
.entry-content input {
	margin: 0 0 .5em;
}
.event-display-boxes .submit {
	-moz-box-shadow:inset 0 0 4px #ccc;
	-webkit-box-shadow:inset 0 0 4px #ccc;
	box-shadow: 0 0 4px #ccc;
}
.event-display-boxes form.ee-forms select {
	margin-bottom: 0;
}
/*
* from http://vesess.com/sandbox/form_template.html#
*/

.event_espresso_form_wrapper form p {
	margin: 3px;
	position: relative;
}
.event_espresso_form_wrapper form p.note {
	margin-left: 170px;
	color: #333;
}
.event_espresso_form_wrapper form fieldset {
	border: none;
	margin: 10px 0;
	padding: 10px 0;
}
.event_espresso_form_wrapper form legend {
	font-weight: bold;
}
.event_espresso_form_wrapper form fieldset div {
	padding: 0.25em 0;
}
.event_espresso_form_wrapper label, .event_espresso_form_wrapper span.label {
	display: block;
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
}
.event_prices label, .event_time label {
	display: block;
	float: none;
	color: #333;
	text-align: left;
}
.event_prices select {
	width: 200px;
}
.copy_dropdown_wrapper label {
	margin-right: 0;
}
.event_espresso_form_wrapper p.coupon_code {
	text-align: left;
}
.event_espresso_form_wrapper p.coupon_code label, .event_espresso_form_wrapper p#groupon_code- label {
	display: block;
	float: none;
	width: auto;
	text-align: left;
}
.event_espresso_form_wrapper p.coupon_code input, .event_espresso_form_wrapper p#groupon_code- input {
	width: 200px;
}
.event_espresso_form_wrapper label.error, .event_espresso_form_wrapper span.error {
	color: #C00;
}
.event_espresso_form_wrapper label em, .event_espresso_form_wrapper span.label em, .event_espresso_form_wrapper legend em {
	font-style: normal;
	color: #C00;
	padding-left: 3px;
}
.event_espresso_form_wrapper div.controlset label, .event_espresso_form_wrapper div.controlset input {
	display: inline;
	float: none;
}
.event_espresso_form_wrapper div.controlset div {
	margin-left: 170px;
}
.event_espresso_form_wrapper div.buttonrow {
	margin-left: 180px;
}
.submit {
	margin:5px;
	padding: 0.3em;
}
.event_form_field {
	clear: both;
}
#ideal-mollie-form .payment-submit {
	height: auto;
	margin-bottom: 0;
}
.btn_event_form_submit, .inline-button {
	padding: 3px;
	text-decoration: none;
}
.btn_event_form_submit:hover {
	cursor: pointer;
}
.event_espresso_form_wrapper ul {
	margin-left: 125px;
}
.event_espresso_form_wrapper ul li {
	list-style: none;
	margin-left: 40px;
}
.event_espresso_form_wrapper .copy_dropdown_wrapper {
	padding: 10px;
}
.copy_dropdown_wrapper select {
	width: 300px;
}
.recaptchatable #recaptcha_response_field {
	left:0 !important;
}

.event_espresso_form_wrapper label.error, .event_espresso_form_wrapper span.error {
	color: #C00;
	width: auto;
}
.event_espresso_form_wrapper label em, .event_espresso_form_wrapper span.label em {
	color: #C00;
}
.event_espresso_form_wrapper input.error {
	border-color: #C00;
	background-color: #FEF;
}
.event_espresso_form_wrapper input:focus, .event_espresso_form_wrapper input.error:focus, .event_espresso_form_wrapper textarea:focus {
	background-color: #FFC;
	border-color: #FC6;
}
.event_espresso_form_wrapper div.controlset label, .event_espresso_form_wrapper div.controlset input {
	display: inline;
	float: none;
}
/*___ Question groups ___*/

.event_questions fieldset {
	border: none;
}
.event_questions fieldset legend {
	background: none;
	font-weight: normal;
	padding-left: 10px;
}
.event_questions fieldset ul {
	margin: 0;
	overflow: hidden;
}
.event_questions fieldset.single-radio li, .event_questions fieldset.multi-checkbox li {
	float: left;
	margin-left: 10px;
}
.event_questions fieldset.single-radio li label, .event_questions fieldset.multi-checkbox li label {
	float: none;
	line-height: 1;
	width: auto;
}
.event_questions fieldset.multi-checkbox li label {
	display: block;
	min-width: 100px;
	text-align: left;
}
/* Tables
------------------------------------------------------------------------------*/

table.event-display-tables {
	border: 1px solid #bebebe;
	margin: 0 auto;
	text-align: left;
	width: 96%;
}
.event-display-tables th, .event-display-tables td {
	padding-left: 5px;
}
.event-display-tables td input {
	line-height: 1;
}
.grid tr td, .grid tr th.header {
	border-top: 1px solid #bebebe;
	vertical-align: middle;
}
.grid tr th.header {
	border-right: 1px solid #dcdcdc;
}
#event_espresso_shopping_cart table th {
	text-align: left;
}
#event_espresso_attendee_verify th, #event_espresso_attendee_verify_questions th {
	text-align: left;
	width: 35%;
}
#event_espresso_attendee_verify td, #event_espresso_attendee_verify_questions td {
	text-align: left;
	width: 70%;
}
#cart-reg-details th, #cart-reg-details td {
	padding: 5px;
}
#cart-reg-details tr + tr td {
	padding: 6px 18px;
}
#event_espresso_shopping_cart table.price_list {
	border: 1px solid #bfbfbf;
	border-bottom: none;
	margin: 10px auto;
	width: 98%;
}
table.price_list tr {
}
table.price_list td {
	border-bottom: 1px solid #bfbfbf;
	border-top: none;
}
table.price_list td.price_type {
	width:45%;
}
table.price_list td.price {
	width: 45%;
}
table.price_list td.selection {
	width: 10%;
}
table.price_list td.selection select {
	margin-bottom: 0;
}
table.price_list td.reg-allowed-limit {
	text-align: center;
}
pre {
	height: 200px;
	overflow: auto;
}
.pending_event {
	padding: 5px;
}
.expired_event {
	color: #F00;
}
/* >Classes - Messages etc
------------------------------------------------------------------------------*/
.event-messages {
	margin: 1em 0;
}
.event-messages p {
	margin: .5em 30px;
}
span.ui-icon {
	float:left;
	margin: .7em 0 0 .3em;
}
/*** clearfix clearing rules ***/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom:1;
} /* for IE - should be in a wrapped in a CC */
.clear-float {
	clear:both;
}
/* needed for MER 2.0 */
.event-display-boxes {
	border: none!important; border-radius:0!important;
}


/* Social Media Buttons */
.ee-social-media-button { float: left; } /* display all the social media buttons in a neat little row */

/* vertical, box-style social media buttons */
span.twitter-button.ee-social-media-button.vertical { margin-right: 10px; }
div.google-button.ee-social-media-button.tall { margin-right: 10px; }
/*div.google-button { width: 80px; padding-top: 3px; }*/
p.register-link-footer { clear: left; padding-top: 10px; }


/* For the event list page pagination */

.page_navigation .no_more{
	background-color: white;
	color: gray;
	cursor: default;
}

.ellipse{
	float: left;
}
.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	
	margin:0 2px 0 2px;
	/*color:white;*/
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	/*background-color:#DB5C04;*/
}
.active_page{
	/*background-color:white !important;*/
	color:black !important;
 }
 
 .ajx_loading {
	width:400px;
	height:400px;
	background:url('../../../images/ajax-loader-large.gif') center no-repeat;
 }
/* End pagination css */
