/*
* Scheme: 'White Shimmer'
* This file adds color schemes to EE built in stylesheets
*/

/*___ Event site wide styles ___*/

#content .event_title,
#content .section-heading,
#content .btn_event_form_submit {
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	color: #777;
}
#content .event-display-boxes .event_title a,
#content .event-display-boxes .register-link-footer a {
	color: #777;
}
#content .event-display-boxes .register-link-footer,
select option:focus,
select option:hover {
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #f0f0f0 0%, #e4e4e4 50%, #dfdfdf 51%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(50%,#e4e4e4), color-stop(51%,#dfdfdf), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#e4e4e4 50%,#dfdfdf 51%,#f0f0f0 100%);
	background: -o-linear-gradient(top, #f0f0f0 0%,#e4e4e4 50%,#dfdfdf 51%,#f0f0f0 100%);
	background: -ms-linear-gradient(top, #f0f0f0 0%,#e4e4e4 50%,#dfdfdf 51%,#f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0',GradientType=0 );
	background: linear-gradient(top, #f0f0f0 0%,#e4e4e4 50%,#dfdfdf 51%,#f0f0f0 100%);
	color: #777 ;
}
#content #espresso_confirmation_display {/* inset shadow */
	-moz-box-shadow:  inset 0 0 5px #f0f0f0;
	-webkit-box-shadow: inset 0 0 5px #f0f0f0;
	box-shadow: inset 0 0  5px #f0f0f0;
}
table.price_list tr {
	background-color: #F5F5F5;
}
